.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Button.reserve {
    background-color: #5c86f5;
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 4px;
}

.Button.borrow {
    background-color: #f55cd3;
    border-radius: 4px;
    margin: 0 20px;
    padding: 10px 20px;
}