.Wrapper {
    display: flex;
    justify-content: space-between;
}

.Reserved,.Returned {
    flex-basis: 48%;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Wrapper h3 {
    padding-top: 10px;
}